* {
    margin: 0;
    padding: 0;
}

.main {
    height: 80vh;
    background-image: url("images/file\ cover\ -\ 1.png");
    background-size: max(2000px, 100vw);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

nav {
    max-width: 65vw;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
}

.logo img {
    width: 140px;
}

nav button {
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}

nav button a {
    text-decoration: none;
    color: white;
}

.sign {
    background-color: rgb(226, 21, 21);
    width: 70px;
    height: 30px;
    transition: 0.3s;
}

.sign:hover {
    background-color: rgb(182, 4, 4);
}

.eng {
    background: transparent;
    width: 100px;
    height: 30px;
    margin-right: 15px;
}